@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@500;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

a {
  color: #961616;
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
}
html #body {
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
}
html #body #telaDeAbertura {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle, rgb(255, 8, 8), rgb(116, 2, 2)) 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 6s ease-out;
  z-index: 999;
  transition-delay: 1s;
}
html #body #telaDeAbertura #logoTelaDeAbertura {
  width: 35%;
  margin: 0px auto;
  text-align: center;
}
html #body #telaDeAbertura h1 {
  text-align: center;
  color: white;
  font-size: 2rem;
  margin: 0px;
}
html #body header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background-color: #fff;
  border-bottom: 1px solid #961616;
  box-shadow: 0px 1px 5px 1px black;
  z-index: 998;
}
html #body header .navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}
html #body header .navbar #mensagem {
  position: absolute;
  top: 75px;
  left: -2px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  padding: 15px;
  font-size: 0.9rem;
  background: rgba(255, 255, 255, 0.534);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 0px 5px 5px 0px;
  font-weight: bold;
  text-shadow: 0px 0px 4px rgb(255, 255, 255);
  font-family: "Stick No Bills", sans-serif;
  cursor: pointer;
}
html #body header .navbar #mensagem.aberto {
  color: green;
  border: 1px solid green;
}
html #body header .navbar #mensagem.fechado {
  color: rgb(145, 3, 3);
  border: 1px solid white;
}
html #body header .navbar .nav-logo {
  font-family: "Stick No Bills", sans-serif;
  letter-spacing: 2px;
  font-size: 2.5rem;
  color: #961616;
}
html #body header .navbar .nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
html #body header .navbar .nav-menu .nav-item .nav-link {
  transition: 0.7s ease-in-out;
}
html #body header .navbar .nav-menu .nav-item .nav-link:hover {
  color: rgb(253, 17, 0);
  font-weight: bold;
}
html #body header .navbar .hamburger {
  background-color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  text-align: center;
  right: 10px;
  border: 1px solid transparent;
  display: none;
  cursor: pointer;
  padding-top: 5px;
}
html #body header .navbar .hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  background-color: #961616;
}
html #body main {
  scroll-behavior: smooth;
  padding: 0px 0px;
  text-align: justify;
}
html #body main section {
  padding: 70px 0px 0px 0px;
}
html #body main section h2 {
  padding: 20px;
  text-align: center;
}
html #body main #home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  transition: 0.4s ease-in-out;
}
html #body main #home .slide-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
html #body main #home .slide-container .slide-item {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
html #body main #home .slide-container .slide-item.active {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
html #body main #home .slide-container .slide-item h2 {
  font-size: 3.5rem;
  color: rgb(255, 255, 255);
  font-family: "Stick No Bills", sans-serif;
}
html #body main #home .slide-container .slide1 {
  background-color: #961616;
}
html #body main #home .slide-container .slide2 {
  background-color: #961616;
}
html #body main #home .slide-container .slide3 {
  background-color: #961616;
}
html #body main #home .slide-container .prev-button,
html #body main #home .slide-container .next-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.336);
  color: white;
  font-size: 20px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
html #body main #home .slide-container .prev-button:hover,
html #body main #home .slide-container .next-button:hover {
  background-color: rgb(0, 0, 0);
}
html #body main #home .slide-container .prev-button {
  left: 0;
}
html #body main #home .slide-container .next-button {
  right: 0;
}
html #body main #sobre {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../images/viadutoNoite.jpg");
  padding: 100px 0px 0px 0px;
}
html #body main #sobre h2 {
  margin: 0px auto 30px;
  width: 300px;
  background-color: #fff;
  border-radius: 8px;
  font-size: 2rem;
  border: 1px solid #da0000;
  color: #961616;
  font-family: "Roboto", sans-serif;
}
html #body main #sobre h2 span {
  color: #961616;
  font-family: "Lily Script One", cursive;
  margin: 0 5px;
}
html #body main #sobre .sobreItems {
  width: 100%;
  height: 350px;
  background-color: rgba(0, 0, 255, 0);
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
html #body main #sobre .sobreItems .sobre {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 100%;
  background-color: #ffffff;
  border: 2px solid #da0000;
  border-radius: 8px;
  padding: 8px;
}
html #body main #sobre .sobreItems .sobre i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border: 1px solid #961616;
  border-radius: 50%;
  font-size: 50px;
  color: #961616;
}
html #body main #sobre .sobreItems .sobre h3 {
  font-family: "Roboto", sans-serif;
  padding: 5px 0;
}
html #body main #sobre .sobreItems .sobre p {
  padding-top: 8px;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  text-align: left;
}
html #body main #sobre .sobreItems .sobre li {
  font-family: "Roboto", sans-serif;
  margin-top: 8px;
  list-style: disc;
}
html #body main #servicos {
  width: 100%;
  height: 100%;
  background: url("https://wallpaperboat.com/wp-content/uploads/2019/10/cool-website-background-02.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  padding: 80px 5px 10px 5px;
  /* Estilos para o modal */
}
html #body main #servicos h2 {
  width: 200px;
  margin: 20px auto 0px;
  font-size: 2rem;
  text-decoration: underline;
  font-family: "Lily Script One", cursive;
  color: #961616;
  border: 1px solid #961616;
  box-shadow: 0px 0px 5px 1px white;
  letter-spacing: 3px;
  background-color: #fff;
  border-radius: 15px;
}
html #body main #servicos .areaProdutos {
  border-radius: 15px;
  max-width: 800px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: 2px solid #961616;
  padding: 10px;
}
html #body main #servicos .areaProdutos .produto {
  outline: none;
  width: 100px;
  height: 100px;
  border-radius: 8px;
  background-color: transparent;
  color: rgb(172, 0, 0);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.1s ease-in-out;
}
html #body main #servicos .areaProdutos .produto:hover {
  transform: scale(0.9);
  border: 1px solid #961616;
}
html #body main #servicos .areaProdutos .produto label {
  font-size: small;
  text-align: center;
  font-weight: bold;
  color: rgb(0, 0, 0);
  padding: 1px;
}
html #body main #servicos .areaProdutos .produto div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
html #body main #servicos .areaProdutos .produto .produto1 {
  background-image: url("https://www.crtcom.com.br/uploads/produtos/adesivo-vinil-brilho-avery-recorte-eletronico-recorte-eletronico-4x0-162013483945660760460914bb7ba2e5.png");
}
html #body main #servicos .areaProdutos .produto .produto2 {
  background-image: url("https://images.tcdn.com.br/img/img_prod/965264/banner_com_bastao_e_corda_vertical_181_1_f6c82ffb7f496c410668a9ea8b4197bc.png");
}
html #body main #servicos .areaProdutos .produto .produto3 {
  background-image: url("https://static.wixstatic.com/media/7e7077_e204f133ae3242ebba9e0a1d4086dabd~mv2.png/v1/fill/w_240,h_172,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/COMANDAmockup-min.png");
}
html #body main #servicos .areaProdutos .produto .produto4 {
  background-image: url("https://teaworld.vteximg.com.br/arquivos/ids/156264-800-800/CaixaTwinings_fechada1000x1000.png?v=638067222389000000");
}
html #body main #servicos .areaProdutos .produto .produto5 {
  background-image: url("https://cdn.atualcard.com.br/arquivos/menu/normais/calendario-de-parede-com-furo-e-bloco-t1.png");
}
html #body main #servicos .areaProdutos .produto .produto6 {
  background-image: url("https://mmcanecas.com/wp-content/uploads/2020/08/SUA-ARTE-VAI-AQUI.png");
}
html #body main #servicos .areaProdutos .produto .produto7 {
  background-image: url("https://graficafenixprint.com.br/wp-content/uploads/2023/02/cardapio-pvc-normal-medio-t1.png");
}
html #body main #servicos .areaProdutos .produto .produto8 {
  background-image: url("https://cdn.graficacores.com.br/arquivos/menu/normais/carimbos-nykon-categoria-t1.png");
}
html #body main #servicos .areaProdutos .produto .produto9 {
  background-image: url("https://cdn.atualcard.com.br/arquivos/menu/normais/cartao-de-visita-250g-487x296-.png");
}
html #body main #servicos .areaProdutos .produto .produto10 {
  background-image: url("https://www.donnapresentes.com.br/image/cache/catalog/brindes/chaveiro-resinado-com-ps-personalizado-dn3008%20_2_-421x421.png");
}
html #body main #servicos .areaProdutos .produto .produto11 {
  background-image: url("https://papeleestilo.com.br/wp-content/uploads/2015/10/convite-thaeme.png");
}
html #body main #servicos .areaProdutos .produto .produto12 {
  background-image: url("https://copias.supermidiapf.com.br/wp-content/uploads/sites/4/impressao/Prancheta-1-c%C3%B3pia-71.png");
}
html #body main #servicos .areaProdutos .produto .produto13 {
  background-image: url("https://d3ugyf2ht6aenh.cloudfront.net/stores/001/245/793/products/mockup16139960562091-f666892c4effc8692516140009244472-640-0.png");
}
html #body main #servicos .areaProdutos .produto .produto14 {
  background-image: url("https://ideiagraficaebrindes.com.br/wp-content/uploads/2021/08/crachapvc.png");
}
html #body main #servicos .areaProdutos .produto .produto15 {
  background-image: url("https://www.regrafica.com.br/uploads/images/2019/09/31-credencial-para-eventos-1567708185.png");
}
html #body main #servicos .areaProdutos .produto .produto16 {
  background-image: url("https://cdn.imprimarapido.com.br/arquivos/menu/normais/Prisma_Geral-thumb-249x181.png");
}
html #body main #servicos .areaProdutos .produto .produto17 {
  background-image: url("https://dataphoto.com.br/wp-content/uploads/2019/03/000000078.png");
}
html #body main #servicos .areaProdutos .produto .produto18 {
  background-image: url("https://www.espacograficosm.com.br/uploads/produtos/fichas-de-bebidas-6x4cm-papel-cartolina-180g-cores-100fls-c-cola-lateral-1x0-1654262298413193118629a0a1a12aaa.png");
}
html #body main #servicos .areaProdutos .produto .produto19 {
  background-image: url("https://cdn.graficacores.com.br/arquivos/menu/normais/folder-a5-promocional-14x20.png");
}
html #body main #servicos .areaProdutos .produto .produto20 {
  background-image: url("https://s2.glbimg.com/3ZJq-VZrYPUUhfEgGzOAVSM6i3w=/0x0:695x612/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2021/2/x/EZQGczQkm43pa5OuQJDw/2016-12-21-taz-6-angle-main-product-page.png");
}
html #body main #servicos .areaProdutos .produto .produto21 {
  background-image: url("https://cdn.atualcard.com.br/arquivos/menu/normais/pasta_thumb-.png");
}
html #body main #servicos .areaProdutos .produto .produto22 {
  background-image: url("https://www.prolam.com.br/wp-content/uploads/2020/11/prolam-polaseal-1.png");
}
html #body main #servicos .areaProdutos .produto .produto23 {
  background-image: url("https://static.vhsys.com/vh-drive/produtos/35727545/PLOTAGEM_A0_d3d172e.png");
}
html #body main #servicos .areaProdutos .produto .produto24 {
  background-image: url("https://www.deskshare.com/images/OverviewPages/psp/ComboPackshot-New.jpg");
}
html #body main #servicos .modal {
  display: none;
  /* Esconde o modal por padrão */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  transition: 0.5s;
  /* Fundo escuro */
}
html #body main #servicos .modal .modal-content {
  transition: all 0.5s ease-in-out;
  display: grid;
  grid-template-columns: 40% 60%;
  justify-content: space-around;
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #ff0000;
  width: 90%;
  max-width: 650px;
  height: 90%;
  max-height: 550px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0px 0px 80px 0px #000000;
}
html #body main #servicos .modal .modal-content .close {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 30px;
  height: 30px;
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 40px;
  font-weight: bold;
  color: #961616;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  border: 1px solid #961616;
}
html #body main #servicos .modal .modal-content .apresentacaoProdutoModal {
  display: flex;
  flex-direction: column;
  align-items: center;
}
html #body main #servicos .modal .modal-content .apresentacaoProdutoModal h3 {
  font-family: "Lily Script One", cursive;
  font-size: 1.5rem;
  text-align: center;
  color: #961616;
  margin: 10px 0;
}
html #body main #servicos .modal .modal-content .apresentacaoProdutoModal img {
  max-width: 200px;
  max-height: 200px;
  background-color: #b10000;
  padding: 5px;
  border-radius: 8px;
  border: 2px solid white;
  box-shadow: 0px 0px 5px 1px #b10000;
}
html #body main #servicos .modal .modal-content .apresentacaoProdutoModal ul {
  padding: 0 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  font-family: "Stick No Bills", sans-serif;
}
html #body main #servicos .modal .modal-content .apresentacaoProdutoModal ul li {
  color: #000000;
  font-weight: bold;
  list-style: disc;
  border-bottom: 1px solid #961616;
}
html #body main #servicos .modal .modal-content .detalhesModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
  background-color: rgba(74, 76, 190, 0);
  padding: 8px;
  overflow: auto;
}
html #body main #servicos .modal .modal-content .detalhesModal h3 {
  margin-bottom: 10px;
  font-family: "Lily Script One", cursive;
  font-size: 1.5rem;
  text-align: center;
  color: #961616;
}
html #body main #servicos .modal .modal-content .detalhesModal p {
  width: 100%;
  height: 80%;
  font-weight: 600;
  color: #961616;
  font-family: "Roboto", sans-serif;
}
html #body main #clientes {
  background: url("https://img.freepik.com/fotos-premium/gradiente-de-tom-pastel-rosa-azul-roxo-desfocado-foto-abstrata-linhas-suaves-pantone-cor-de-fundo_49683-4059.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  padding-bottom: 20px;
}
html #body main #clientes h2 {
  font-size: 2rem;
  font-family: "Lily Script One", cursive;
  color: #961616;
  letter-spacing: 3px;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}
html #body main #clientes .logoClientes {
  margin: 0 auto;
  max-width: 700px;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  background-color: rgba(218, 0, 0, 0);
  gap: 1px;
}
html #body main #clientes .logoClientes .cliente {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  margin: 5px;
  border: 2px solid rgb(152, 62, 255);
  box-shadow: 0px 0px 5px 1px rgb(255, 255, 255);
  border-radius: 50%;
  transition: all ease 0.4s;
}
html #body main #clientes .logoClientes .cliente:hover {
  cursor: pointer;
  transform: scale(0.9);
  border: 2px solid #961616;
  box-shadow: 0px 0px 10px 1px #ffffff;
}
html #body main #clientes .logoClientes .cliente1 {
  background: url("https://hml.aprosoja.com.br/wp-content/uploads/2022/07/logo-aprosoja-rodape.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(255, 255, 255);
}
html #body main #clientes .logoClientes .cliente2 {
  background: url("https://btsenergia.com.br/wp-content/uploads/2022/09/bom-futuro-3.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(255, 255, 255);
}
html #body main #clientes .logoClientes .cliente3 {
  background: url("https://static.vagas.com.br/portais-de-carreira/images/components/box_divisions/original/box-vagas-logo-amaggi?1588103090");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(255, 255, 255);
}
html #body main #clientes .logoClientes .cliente4 {
  background: url("https://logodetimes.com/times/cuiaba/logo-cuiaba-2048.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(255, 255, 255);
}
html #body main #clientes .logoClientes .cliente5 {
  background: url("https://static01.eu/ofertasy.com.br/images/store/179.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(255, 255, 255);
}
html #body main #clientes .logoClientes .cliente6 {
  background: url("https://upload.wikimedia.org/wikipedia/commons/a/a9/Banco_Bradesco_logo_%28vertical%29.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(255, 255, 255);
}
html #body main #clientes .logoClientes .cliente7 {
  background-image: url("https://media.licdn.com/dms/image/C4D03AQFrjWxkmfFQDg/profile-displayphoto-shrink_800_800/0/1517584155759?e=2147483647&v=beta&t=M-CjB_ccx7qDsGqz-MQay1KuaNRYvtQWRHNodmtfKzo");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
html #body main #clientes .logoClientes .cliente8 {
  background: url("https://sistemafamato.org.br/wp-content/uploads/2021/11/Selos-Famato-Chapado-1024x1024.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
html #body main #clientes h3 {
  font-family: "Stick No Bills", sans-serif;
  text-align: center;
  color: white;
  font-size: 2rem;
  margin: 25px 0px 5px 0px;
}
html #body main #clientes .avaliacoes {
  width: 650px;
  height: 160px;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: scroll;
  margin: 0 auto;
  border: 2px solid white;
  background-color: rgba(0, 255, 255, 0);
  border-radius: 5px;
}
html #body main #clientes .avaliacoes .avaliacaoCliente {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-width: 114px;
  height: 120px;
  margin: 5px 5px;
  border: 2px solid white;
  background-color: rgba(204, 204, 204, 0);
  border-radius: 8px;
  color: white;
}
html #body main #clientes .avaliacoes .avaliacaoCliente1 .avaliacaoCliente1Imagem {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0px;
  border: 2px solid rgb(255, 255, 255);
  background-image: url("https://wilgnerjr.github.io/portifolio-2.0/imagens/eu.webp");
  background-size: cover;
}
html #body main #clientes .avaliacoes .avaliacaoCliente1 .estrelasCliente1 .fa-star {
  color: gold;
}
html #body main #clientes .avaliacoes .avaliacaoCliente2 .avaliacaoCliente2Imagem {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0px;
  border: 2px solid rgb(255, 255, 255);
  background-image: url("https://wilgnerjr.github.io/portifolio-2.0/imagens/eu.webp");
  background-size: cover;
}
html #body main #clientes .avaliacoes .avaliacaoCliente2 .estrelasCliente2 .fa-star {
  color: gold;
}
html #body main #clientes .avaliacoes .avaliacaoCliente3 .avaliacaoCliente3Imagem {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0px;
  border: 2px solid rgb(255, 255, 255);
  background-image: url("https://wilgnerjr.github.io/portifolio-2.0/imagens/eu.webp");
  background-size: cover;
}
html #body main #clientes .avaliacoes .avaliacaoCliente3 .estrelasCliente3 .fa-star {
  color: gold;
}
html #body main #clientes .avaliacoes .avaliacaoCliente4 .avaliacaoCliente4Imagem {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0px;
  border: 2px solid rgb(255, 255, 255);
  background-image: url("https://wilgnerjr.github.io/portifolio-2.0/imagens/eu.webp");
  background-size: cover;
}
html #body main #clientes .avaliacoes .avaliacaoCliente4 .estrelasCliente4 .fa-star {
  color: gold;
}
html #body main #clientes .avaliacoes .avaliacaoCliente5 .avaliacaoCliente5Imagem {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0px;
  border: 2px solid rgb(255, 255, 255);
  background-image: url("https://wilgnerjr.github.io/portifolio-2.0/imagens/eu.webp");
  background-size: cover;
}
html #body main #clientes .avaliacoes .avaliacaoCliente5 .estrelasCliente5 .fa-star {
  color: gold;
}
html #body main #clientes .avaliacoes .avaliacaoCliente6 .avaliacaoCliente6Imagem {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0px;
  border: 2px solid rgb(255, 255, 255);
  background-image: url("https://wilgnerjr.github.io/portifolio-2.0/imagens/eu.webp");
  background-size: cover;
}
html #body main #clientes .avaliacoes .avaliacaoCliente6 .estrelasCliente6 .fa-star {
  color: gold;
}
html #body main #clientes .avaliacoes .avaliacaoCliente7 .avaliacaoCliente7Imagem {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0px;
  border: 2px solid rgb(255, 255, 255);
  background-image: url("https://wilgnerjr.github.io/portifolio-2.0/imagens/eu.webp");
  background-size: cover;
}
html #body main #clientes .avaliacoes .avaliacaoCliente7 .estrelasCliente7 .fa-star {
  color: gold;
}
html #body main #contato {
  width: 100%;
  height: 100%;
  background: url("../images/ponteSergioMota.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
html #body main #contato h2 {
  font-size: 2rem;
  font-family: "Lily Script One", cursive;
  color: white;
  letter-spacing: 3px;
  text-shadow: 0px 0px 6px black;
}
html #body main #contato .areaContato {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 0 20px 20px;
  color: white;
}
html #body main #contato .areaContato .redesSociais {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 255, 0);
  margin: 10px 0;
}
html #body main #contato .areaContato .redesSociais .titleRedesScociais h2 {
  font-family: "Stick No Bills", sans-serif;
  font-size: 2rem;
  letter-spacing: 18px;
  text-shadow: 0px 0px 10px black;
}
html #body main #contato .areaContato .redesSociais div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
}
html #body main #contato .areaContato .redesSociais div a .redeInstagram {
  background-color: #ffffff;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
  border: 2px solid transparent;
  font-size: 2rem;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.18);
}
html #body main #contato .areaContato .redesSociais div a .redeInstagram .fa-instagram {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  background-image: linear-gradient(to bottom, purple, red);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: black;
}
html #body main #contato .areaContato .redesSociais div a .redeInstagram:hover {
  border-radius: 50%;
  background-color: white;
  border: 2px solid #961616;
  font-size: 2.2rem;
  box-shadow: none;
}
html #body main #contato .areaContato .redesSociais .fa-facebook {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  color: #3B5998;
  background-color: #ffffff;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
  border: 2px solid transparent;
  font-size: 2rem;
  margin: 10px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
html #body main #contato .areaContato .redesSociais .fa-facebook:hover {
  border-radius: 50%;
  background-color: white;
  border: 2px solid #3B5998;
  font-size: 2.2rem;
  box-shadow: none;
}
html #body main #contato .areaContato .redesSociais .fa-whatsapp {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  color: #25D366;
  background-color: #ffffff;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
  border: 2px solid transparent;
  font-size: 2rem;
  margin: 10px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
html #body main #contato .areaContato .redesSociais .fa-whatsapp:hover {
  border-radius: 50%;
  background-color: white;
  border: 2px solid #25D366;
  box-shadow: none;
  font-size: 2.2rem;
}
html #body main #contato .areaContato .formulario {
  margin: 0 auto;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
html #body main #contato .areaContato .formulario h2 {
  color: #f5f5f5;
  border-radius: 8px;
  font-size: 2.5rem;
  font-family: sans-serif;
  background: rgba(255, 255, 255, 0.719);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid #961616;
}
html #body main #contato .areaContato .formulario form {
  max-height: 400px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
html #body main #contato .areaContato .formulario form label {
  color: #fffdfd;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 4px;
  text-shadow: 0px 0px 5px #961616;
}
html #body main #contato .areaContato .formulario form input {
  padding: 10px;
  border: 1px solid red;
  margin-bottom: 10px;
  font-size: 15px;
  outline: none;
  transition: 0.3s;
  color: #363636;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 3px;
  border: 1px solid rgb(255, 255, 255);
}
html #body main #contato .areaContato .formulario form input:focus {
  color: #961616;
  border: 1px solid #961616;
  border-radius: 10px;
}
html #body main #contato .areaContato .formulario form textarea {
  resize: none;
  padding: 10px;
  outline: none;
  border: 0;
  font-size: 15px;
  margin-bottom: 30px;
  transition: all 0.3s;
  color: #363636;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 3px;
  border: 1px solid rgb(255, 255, 255);
}
html #body main #contato .areaContato .formulario form textarea:focus {
  color: #961616;
  border: 1px solid #961616;
  border-radius: 10px;
}
html #body main #contato .areaContato .formulario form button {
  padding: 15px;
  cursor: pointer;
  font-size: 16px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  transition: all 0.5s;
  margin-bottom: 15px;
}
html #body main #contato .areaContato .formulario form button:hover {
  background-color: #f5f5f5;
  color: green;
  border-radius: 10px;
}
html #body main .whatsAppFlutuante a .fa-whatsapp {
  z-index: 1;
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 25px;
  color: green;
  background-color: white;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: animaWhatsApp;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
html #body footer {
  display: flex;
  justify-content: space-around;
  padding: 20px 10px;
  width: 100%;
  height: 100%;
  background-color: #5e5e5e;
}
html #body footer .endereco h2 {
  font-family: "Stick No Bills", sans-serif;
  color: white;
  margin: 25px 0px;
  text-shadow: none;
}
html #body footer .endereco address {
  text-align: justify;
  line-height: 25px;
  color: #ffffff;
  font-size: 1.2rem;
  font-family: sans-serif;
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
}
html #body footer .endereco address .geolocalizacao {
  max-width: 500px;
  padding: 20px 0px;
}
html #body footer .endereco address .geolocalizacao iframe {
  margin: 0 auto;
  width: 100%;
  border: 2px solid #ffffff;
  border-radius: 8px;
}
html #body footer .horarioDeFuncionamentofooter {
  display: flex;
  flex-direction: column;
}
html #body footer .horarioDeFuncionamentofooter div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
html #body footer .horarioDeFuncionamentofooter div h2 {
  font-family: "Stick No Bills", sans-serif;
  color: white;
  margin: 20px 0;
}
html #body footer .horarioDeFuncionamentofooter div p {
  text-align: left;
  font-weight: bold;
  color: white;
}
html #body footer .horarioDeFuncionamentofooter img {
  margin-top: 55px;
  width: 300px;
  height: 210px;
  border-radius: 5px;
  border: 1px solid white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

@media (max-width: 970px) {
  html #body #telaDeAbertura #logoTelaDeAbertura {
    width: 90%;
  }
  html #body header .navbar .nav-logo {
    margin: 0 auto;
  }
  html #body header .navbar .nav-menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    height: 100vh;
    text-align: center;
    transition: 0.3s;
  }
  html #body header .navbar .nav-menu .nav-item {
    width: 80%;
    padding: 5px;
    margin: 30px 0 0 0;
    border-bottom: 2px solid #961616;
  }
  html #body header .navbar .nav-menu.active {
    left: 0;
  }
  html #body header .navbar .hamburger {
    display: block;
  }
  html #body header .navbar .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  html #body header .navbar .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  html #body header .navbar .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  html #body main #home .slide-container h2 {
    font-size: 2.5rem;
  }
  html #body main #sobre {
    height: 100%;
  }
  html #body main #sobre .sobreItems {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  html #body main #sobre .sobreItems .sobre {
    margin: 10px 0px;
  }
  html #body main #sobre .sobreItems .sobre p {
    font-weight: 400;
  }
  html #body main #servicos .areaProdutos {
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    border: none;
  }
  html #body main #servicos .areaProdutos .produtos {
    background-color: #da0000;
  }
  html #body main #clientes .avaliacoes {
    width: 90%;
  }
  html #body main #contato .areaContato {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 100%;
  }
  html #body footer {
    flex-direction: column-reverse;
  }
  html #body footer .horarioDeFuncionamentofooter {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  }
  html #body footer .horarioDeFuncionamentofooter div {
    display: flex;
    flex-direction: column;
    align-items: normal;
    justify-content: center;
  }
  html #body footer .horarioDeFuncionamentofooter div h2 {
    padding-left: 20px;
    text-align: left;
    font-size: 1.5rem;
  }
  html #body footer .horarioDeFuncionamentofooter div p {
    margin: 10px 5px;
    font-size: 1.2rem;
    padding-left: 20px;
    text-align: left;
  }
  html #body footer .horarioDeFuncionamentofooter img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    border: 1px solid white;
    box-shadow: 0px 0px 40px black;
    margin: 5px;
  }
  html #body footer .endereco {
    margin: 2rem;
  }
  html #body footer .endereco h2 {
    text-align: center;
  }
}
@keyframes animaWhatsApp {
  0% {
    color: green;
    background: white;
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
    color: white;
    background: green;
  }
  100% {
    transform: scale(1);
  }
}/*# sourceMappingURL=style.css.map */